*{
    margin: 0;
    padding: 0;
    font-family:sans-serif ;
}

.body{
    background-color: aliceblue;
}
.p1{
    position: relative;
    width: 100%;
    height: 100%;
    background: aliceblue;
}

.p3{
    display: flex;
    width: 84%;
    margin: auto;
    padding: 20px 0;
    align-items: center; 
    justify-content: space-between;
}

.p3 ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

.p2{
    width: 70px;
    height: 50px;
}

.p3 ul li a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.p3 ul li a:hover{
color: yellow;
}

.p4{
    margin-left: 8%;
    margin-top: 15%;
}
.p4 h1{
    font-size: 50px;
    color: black;
    margin-bottom: 20px;
}
.p4 span{
    color: yellow
}

.p4 p{
    color: black;
    line-height: 22px;
}

.p4 a{
    background: goldenrod;
    padding: 10px 18px;
    text-decoration: none;
    font-weight: bold;
    color: black;
    display: inline-block;
    margin: 30px 0;
    border-radius: 5px;
} 

.images{
    width: 35%;
    height: 80%;
    position: absolute;
    bottom: 0;
    right: 100px;
    }

    .images img{
        height: 100%;
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translateX(-50%);
        transition: bottom 1s, left 1s;
    }

    .images:hover .p5{
        bottom: 40px;
        }

        .images:hover .p6{
            left: 45%;
        }

        .p4 a:hover{
            color: whitesmoke;
            background-color: black;
        }

        .p7{
            background: goldenrod;
            padding: 10px 18px;
            text-decoration: none;
            font-weight: bold;
            color: black;
            display: inline-block;
            margin: 30px 0;
            border-radius: 5px;
            }

            .p7 ul li{
                border: 0;
                display: inline-block;
                list-style: none;
                margin: 60px 78px;
              }

              .p7 :hover{
                color: black;
              }